<div class="container-fluid">
	<%= form_for User.new do |f| %>

	  <%= f.text_field :email, :placeholder => "email" %>
	  <br>
	  <br>
	  <%= f.text_field :password, :placeholder => "password (at least 6 characters)" %>
	  <br>
	  <br>
		<%= f.text_field :password_confirmation, :placeholder => "password (at least 6 characters)" %>
	  <br>
	  <br>
	  <%= f.submit "Sign up", :class => "top-bar-button" %>

	<% end %>
</div>
