Not using...check routes

<div>
    <div x-ng-controller="CategoryCtrl">

		<div class="container">

		<% @words.each do |w| %>	
			<div class="row">
			  <div class="col-md-3"><%= image_tag(w.image, class: 'image') %></div>

			  <div class="col-md-3"><%= image_tag(w.image, class: 'image') %></div>
			  <div class="col-md-3"><%= w.name %><%= image_tag(w.image, class: 'image') %></div>
			  <div class="col-md-3"><%= image_tag(w.image, class: 'image') %></div>

			</div>
		<%end%>

		</div>
	</div>
</div>




