<div class="container">
   <h2>Prepare for the Hunt!</h2>
   <br>

   Language:
   <select name="Language">
      <option>English</option>
      <option>Spanish</option>
   </select>

   Category:

   <%= select_tag "Category", options_from_collection_for_select(@categories, "id", "name") %>

   <br>

   <h4>Select your words:</h4>
   <%#= select_tag "Words", options_from_collection_for_select(@words, "id", "name") %>

   <%= select_tag "Words[]", options_for_select(@words.collect{|w| [w.name,w.id]}), {:multiple => :multiple, :size => 10} %>

   <br>
   <br>
   <!-- Button trigger modal -->
   <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Practice
   </button>

   <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal3">

      Play the Game!
   </button>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Preview and Practice</h4>
      </div>
      <div class="modal-body">
          
          <h4>Listen:</h4>
          <div>
            <% @words.each do |w| %>
              <p><%= w.name %></p>
              <p><%= w.image %></p>
              <p><%= w.pronunciation %></p>
            <%end%>
          </div>
          
          <h4>Practice:</h4>

          <iframe src="http://vocaroo.com/?minimal" width="525" height="240" frameborder="0"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- pop-up window showing game instructions -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Instructions</h4>
      </div>
      <div class="modal-body">
          <h4>Practice:</h4>
      </div>
    </div>
  </div>
</div>